<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <style>
        table {
            border-width: thin;
            border-style: solid;
            border-color: black;
        }

        table th, table td {
            border-width: thin;
            border-style: solid;
            border-color: black;
            padding: 5px;
        }

        .row {
            font-style: italic;
        }
    </style>
</head>

<body>
<h1>Update user</h1>
<form th:method="PUT" th:action="@{/admin/{id}/update(id=${user.getId()})}" th:object="${user}">
    <table>
        <tr>
            <td class="row">
                <label for="name">User name:</label>
            </td>
            <td>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
                <input type="text" th:field="*{name}" id="name"/>
            </td>
        </tr>
        <tr>
            <td class="row">
                <label for="password">Enter password:</label>
            </td>
            <td>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
                <input type="password" th:field="*{password}" id="password"/>
            </td>
        </tr>
        <tr>
            <td class="row">
                <label for="roleName">Set roles:</label>
            </td>
            <td>
                <input type="checkbox" name="roleName" value="ROLE_ADMIN" id="roleName"/> ADMIN
                <input type="checkbox" name="roleName" id=2 value="ROLE_USER"/> USER
            </td>
        </tr>
        <tr>
            <td class="row">
                <label for="firstName">Enter first name:</label>
            </td>
            <td>
                <input type="text" th:field="*{firstName}" id="firstName"/>
            </td>
        </tr>
        <tr>
            <td class="row">
                <label for="lastName">Enter last name:</label>
            </td>
            <td>
                <input type="text" th:field="*{lastName}" id="lastName"/>
             </td>
        </tr>
        <tr>
            <td class="row">
                <label for="email">Enter email:</label>
            </td>
            <td>
                <input type="text" th:field="*{email}" id="email"/>
            </td>
        </tr>
    </table>

    <p>
    <input type="submit" value="Update user">
    </p>
    <p>
        <a th:href="@{/logout}">Logout</a>
    </p>

</form>

</body>
</html>